body {
    background-color: #2F2E41;
}

.page {
    margin: 3% 8% 2% 8%;
    font-family: 'JetBrains Mono';
    color: #FFFFFF;
}

nav {
    margin-right: 10%;
}

header {
    display: flex;
    align-items: baseline;
    text-align: center;
    justify-content: space-between;

    font-size: 15px;
}

header img{
    display: flex;
}

ul {
    display: flex;
    text-align: right;
    justify-content: space-between;
    gap: 30%;

    list-style: none;
}

ul a {
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
}

ul a:hover {
    font-weight: bolder;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
}

main img {
    width: 35%;
    margin-right: 8%;
}

h1 {
    font-size: larger;
    text-align: center;
}

p {
    font-family: 'Open Sans';
    text-align: center;
    font-size: 13px;
    color: #C2C2C2;
}

strong {
    color: #dddddd;
}

span {
    color: #00BFA6;
    font-weight: bold;
}

footer {
    margin-top: 10%;
    font-size: 10px;
}

.line {
    width: 60%;
    height: 1px;
    margin: auto;
    border: 1px solid #00BFA6;
}

footer p {
    margin: 3% 0 0 0;
    font-family: 'JetBrains Mono';
    color: #FFFFFF;
}

.padlock img {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 1% 1% 1% 1%
}
